<a href="https://colab.research.google.com/github/Pittawas6330210206/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของ กรม อุตุ ([link](https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ

![Screen Shot 2566-01-11 at 09.36.17.png]()

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# import data

In [ ]:
# ความกด
KKN1 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM1 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI1 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK1 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI1 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# ความชื้นสัมพัทธ์
KKN2 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM2 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI2 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK2 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI2 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# ความเร็วลม
KKN3 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM3 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI3 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK3 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI3 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# จำนวนเมฆ
KKN4 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM4 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI04 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK4 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
NKI4 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
LEI4 = LEI04.iloc[:,:35]
LEI4

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,1,1,2,4,2,3,3,1,2,5.387097
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,6,4,0,1,2,2,5,3,-,2.333333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,3,1,1,0,0,1,1,4,1,2.354839
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,2,4,6,5,1,2,4,9,8,3.870968
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,-,-,-,0,1,3,-,3,-,2.809524
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,1,4,4,6,7,6,...,2,2,2,2,2,2,1,3,6,3.000000
6,4,353301-เลย สกษ. จ.เลย,2012-11-01,2,1,1,7,4,4,2,...,3,6,3,4,6,6,8,6,-,3.800000
7,5,353301-เลย สกษ. จ.เลย,2012-12-01,3,3,6,6,3,6,4,...,6,2,6,8,4,2,1,4,2,3.032258
8,6,353301-เลย สกษ. จ.เลย,2013-01-01,2,2,2,1,2,4,1,...,1,2,4,3,8,10,7,5,9,3.333333
9,7,353301-เลย สกษ. จ.เลย,2013-02-01,6,8,6,3,1,2,0,...,4,0,1,2,2,3,8,6,3,3.000000
10,8,353301-เลย สกษ. จ.เลย,2013-10-01,9,9,8,1,3,1,3,...,4,6,10,5,1,2,1,2,1,4.322581
11,9,353301-เลย สกษ. จ.เลย,2013-11-01,2,1,2,1,1,3,7,...,2,2,5,4,4,5,2,1,0,3.774194
12,10,353301-เลย สกษ. จ.เลย,2013-12-01,5,3,2,2,2,1,1,...,0,3,0,0,0,0,0,0,0,1.933333
13,11,353301-เลย สกษ. จ.เลย,2014-01-01,-,-,-,0,-,-,-,...,-,-,-,-,0,1,-,1,-,0.875000
14,12,353301-เลย สกษ. จ.เลย,2014-02-01,-,-,-,0,1,0,1,...,2,4,2,1,2,2,3,2,-,2.481481
15,13,353301-เลย สกษ. จ.เลย,2014-10-01,6,5,3,3,4,6,6,...,5,8,5,3,3,4,6,4,2,4.419355
16,14,353301-เลย สกษ. จ.เลย,2014-11-01,3,3,4,4,6,8,8,...,2,1,1,2,3,3,2,3,-,3.433333
17,15,353301-เลย สกษ. จ.เลย,2014-12-01,3,8,7,6,6,3,2,...,2,2,4,3,4,2,1,-,0,3.166667
18,16,353301-เลย สกษ. จ.เลย,2015-01-01,0,-,0,-,0,0,1,...,2,1,-,-,-,-,-,-,0,2.857143
19,17,353301-เลย สกษ. จ.เลย,2015-02-01,3,3,1,2,3,3,2,...,4,1,2,1,0,0,2,3,-,3.000000
20,18,353301-เลย สกษ. จ.เลย,2015-10-01,6,7,6,4,5,5,8,...,3,1,1,1,2,2,3,5,3,4.645161
21,19,353301-เลย สกษ. จ.เลย,2015-11-01,4,6,5,4,2,4,8,...,4,4,3,5,2,5,1,3,-,3.833333
22,20,353301-เลย สกษ. จ.เลย,2015-12-01,3,2,5,6,8,9,6,...,9,5,7,6,7,7,4,4,7,4.612903
23,21,353301-เลย สกษ. จ.เลย,2016-01-01,4,2,3,2,1,2,3,...,4,9,10,10,9,6,1,2,1,4.193548
24,22,353301-เลย สกษ. จ.เลย,2016-02-01,1,4,-,1,1,6,2,...,1,6,3,2,1,3,1,3,-,1.615385
25,23,353301-เลย สกษ. จ.เลย,2016-10-01,6,6,7,3,6,7,6,...,1,7,9,7,5,2,3,3,5,4.838710
26,24,353301-เลย สกษ. จ.เลย,2016-11-01,5,5,6,3,2,2,8,...,2,8,6,2,3,2,1,1,-,3.533333
27,25,353301-เลย สกษ. จ.เลย,2016-12-01,1,1,2,6,5,9,3,...,2,2,1,1,2,1,1,1,5,2.900000
28,26,353301-เลย สกษ. จ.เลย,2017-01-01,9,6,6,7,10,7,5,...,3,2,3,2,1,1,1,4,2,4.612903
29,27,353301-เลย สกษ. จ.เลย,2017-02-01,1,5,3,1,-,0,-,...,-,1,8,10,6,3,4,4,-,2.166667
30,28,353301-เลย สกษ. จ.เลย,2017-10-01,6,8,7,9,8,8,7,...,7,6,3,1,2,2,1,2,1,5.580645
31,29,353301-เลย สกษ. จ.เลย,2017-11-01,3,3,2,1,8,10,7,...,9,2,1,1,2,3,3,4,-,4.033333
32,30,353301-เลย สกษ. จ.เลย,2017-12-01,5,3,2,3,8,3,3,...,-,1,3,7,10,10,5,6,7,4.464286
33,31,353301-เลย สกษ. จ.เลย,2018-01-01,4,5,7,4,5,3,4,...,2,1,1,4,8,1,2,5,8,3.580645
34,32,353301-เลย สกษ. จ.เลย,2018-02-01,10,5,7,3,1,2,1,...,8,5,1,5,8,3,4,2,-,3.200000
35,33,353301-เลย สกษ. จ.เลย,2018-10-01,6,4,4,2,4,1,1,...,6,7,5,2,2,3,2,2,1,3.483871
36,34,353301-เลย สกษ. จ.เลย,2018-11-01,1,0,-,-,0,0,2,...,1,1,1,2,4,8,8,3,-,3.500000
37,35,353301-เลย สกษ. จ.เลย,2018-12-01,2,4,2,1,1,1,3,...,1,2,1,1,0,4,9,9,5,3.354839
38,36,353301-เลย สกษ. จ.เลย,2019-01-01,2,1,2,6,7,8,4,...,2,1,2,1,1,1,1,1,1,3.161290
39,37,353301-เลย สกษ. จ.เลย,2019-02-01,2,1,-,0,-,0,0,...,0,0,1,3,3,2,2,1,-,1.703704
40,38,353301-เลย สกษ. จ.เลย,2019-10-01,1,2,1,5,7,4,2,...,2,2,4,2,2,4,4,3,3,3.161290
41,39,353301-เลย สกษ. จ.เลย,2019-11-01,8,5,6,4,2,1,4,...,1,0,1,0,4,3,-,1,-,2.862069
42,40,353301-เลย สกษ. จ.เลย,2019-12-01,1,2,0,0,-,-,-,...,1,1,1,0,3,2,1,0,1,0.916667
43,41,353301-เลย สกษ. จ.เลย,2020-01-01,4,3,2,2,1,1,1,...,1,7,3,0,4,2,1,3,-,1.733333
44,42,353301-เลย สกษ. จ.เลย,2020-02-01,-,1,1,2,5,2,1,...,0,1,1,1,1,3,1,-,-,1.333333
45,43,353301-เลย สกษ. จ.เลย,2020-10-01,7,8,8,7,3,4,7,...,5,2,2,7,6,5,10,9,8,6.967742
46,44,353301-เลย สกษ. จ.เลย,2020-11-01,4,7,4,9,3,4,6,...,4,1,1,2,2,1,4,1,-,2.966667
47,45,353301-เลย สกษ. จ.เลย,2020-12-01,0,2,4,2,0,1,1,...,1,2,1,4,1,2,1,4,3,1.758621
48,46,353301-เลย สกษ. จ.เลย,2021-01-01,3,1,-,1,0,1,2,...,-,1,-,-,0,2,2,3,1,1.833333
49,47,353301-เลย สกษ. จ.เลย,2021-02-01,0,1,1,1,0,0,0,...,1,0,0,0,2,1,4,-,-,1.370370
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,6,2,2,1,3,6,9,5,4,5.612903
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,3,1,5,3,3,1,1,1,-,2.466667
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,1,1,5,3,4,-,3,2,1,1.875000
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,6,2,1,1,1,1,1,1,0,1.925926
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,2,-,1,0,3,2,-,-,-,4.925926

In [ ]:
KKN4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# ปริมาณฝน
KKN5 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM5 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI5 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK5 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI5 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# อุณหภูมิจุดน้ำค้าง
KKN6 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM6 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI6 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
SNK6 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI6 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI6.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# อุณหภูมิต่ำสุด
KKN7 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM7 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI7 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK7 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI7 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI7.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [ ]:
# อุณหภูมิตุ้มแห้ง
KKN8 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
NPM8 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
LEI8 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
SNK8 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
NKI8 = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [ ]:
KKN8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NPM8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
LEI8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
SNK8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
NKI8.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

# ต่อตาราง

In [ ]:
Table1 = pd.concat([KKN1,NPM1,LEI1,SNK1,NKI1])
Table2 = pd.concat([KKN2,NPM2,LEI2,SNK2,NKI2])
Table3 = pd.concat([KKN3,NPM3,LEI3,SNK3,NKI3])
Table4 = pd.concat([KKN4,NPM4,LEI4,SNK4,NKI4])
Table5 = pd.concat([KKN5,NPM5,LEI5,SNK5,NKI5])
Table6 = pd.concat([KKN6,NPM6,LEI6,SNK6,NKI6])
Table7 = pd.concat([KKN7,NPM7,LEI7,SNK7,NKI7])
Table8 = pd.concat([KKN8,NPM8,LEI8,SNK8,NKI8])

In [ ]:
alltable = pd.concat([Table1,Table2,Table3,Table4,Table5,Table6,Table7,Table8])
alltable.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.4,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.47
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.8,1008.16,...,1005.75,1005.46,1004.8,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [ ]:
alltable.isnull().any()

ที่          True
สถานี       False
เดือน/ปี    False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29           True
30           True
31          False
เฉลี่ย      False
dtype: bool

In [ ]:
alltable['สถานี'].value_counts()

353301-เลย สกษ. จ.เลย       605
352201-หนองคาย จ.หนองคาย    550
356201-สกลนคร จ.สกลนคร      330
381201-ขอนแก่น จ.ขอนแก่น    275
357201-นครพนม จ.นครพนม      275
353201-เลย จ.เลย            160
Name: สถานี, dtype: int64

In [ ]:
NK = alltable[alltable['สถานี']=='352201-หนองคาย จ.หนองคาย']
KK = alltable[alltable['สถานี']=='381201-ขอนแก่น จ.ขอนแก่น']
KP = alltable[alltable['สถานี']=='357201-นครพนม จ.นครพนม']
SK = alltable[alltable['สถานี']=='356201-สกลนคร จ.สกลนคร']
L1 = alltable[alltable['สถานี']=='353301-เลย สกษ. จ.เลย']
L2 = alltable[alltable['สถานี']=='353201-เลย จ.เลย']

In [ ]:
NK

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.4,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.47
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.8,1008.16,...,1005.75,1005.46,1004.8,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,23,352201-หนองคาย จ.หนองคาย,2021-10-01,25.0,24.5,25.3,25.7,25.0,25.9,25.0,...,22.0,21.8,21.0,21.8,22.0,22.5,23.8,24,24,24.0
51,24,352201-หนองคาย จ.หนองคาย,2021-11-01,25.0,25.3,24.3,23.5,23.5,23.0,24.0,...,21.0,18.0,19.8,19.0,19.2,18.5,17.6,18.4,-,21.5
52,25,352201-หนองคาย จ.หนองคาย,2021-12-01,17.9,16.0,16.2,12.0,12.8,13.9,14.3,...,17.0,17.8,19.0,19.0,18.2,16.5,19.5,19.5,18.4,16.8
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,17.2,19.0,16.6,18.5,18.3,18.0,18.3,...,18.0,18.1,18.0,19.1,20.4,20.2,20.7,19.4,19.5,18.7
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,19.4,19.5,19.5,18.6,18.4,18.4,18.5,...,14.8,14.0,13.9,15.0,17.5,19,-,-,-,19.0

In [ ]:
L = pd.concat([L1,L2])
L

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,353201-เลย จ.เลย,2021-10-01,24.3,23.8,24.0,23.0,22.5,23.6,23.0,...,22.3,20.8,20.5,20.4,20.8,20.5,22.5,23.1,-,22.7
51,49,353201-เลย จ.เลย,2021-11-01,23.4,23.0,23.0,21.0,21.3,20.4,20.8,...,21.2,17.9,19.0,19.6,17.6,15.8,15.8,-,-,20.4
52,50,353201-เลย จ.เลย,2021-12-01,15.5,15.6,13.4,10.5,9.2,11.1,12.0,...,14.0,15.1,17.3,18.9,18.9,15.5,16.1,18.4,17.8,14.8
53,1,353201-เลย จ.เลย,2022-01-01,16.4,16.6,15.0,15.9,14.1,14.2,14.8,...,19.0,16.5,15.5,15.5,16.0,16.6,16.7,15.5,15,16.2
54,2,353201-เลย จ.เลย,2022-02-01,15.5,19.5,20.5,20.0,18.0,17.5,17.1,...,15.0,14.0,12.8,13.5,15.0,17.6,-,-,-,18.3

#สร้างตารางแยกตามจังหวัดและตามหัวข้อ

##ความกด

In [ ]:
KKN1['จังหวัด'] = "ขอนแก่น"
KKN01 = KKN1.drop(['ที่'],axis=1)
KKN01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN001 = KKN01.stack().reset_index()
KKN001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
KKN001['เดือน'] = KKN001['เดือน/ปี'].dt.month
KKN001['ปี'] = KKN001['เดือน/ปี'].dt.year
newKKN1 = KKN001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newKKN1

      จังหวัด                     สถานี  วันที่  เดือน    ปี       ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.88
...       ...                       ...     ...    ...   ...          ...
1755  ขอนแก่น  352201-หนองคาย จ.หนองคาย      28      2  2022      1013.04
1756  ขอนแก่น  352201-หนองคาย จ.หนองคาย      29      2  2022      1013.37
1757  ขอนแก่น  352201-หนองคาย จ.หนองคาย      30      2  2022      1013.98
1758  ขอนแก่น  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  ขอนแก่น  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.456667

[1760 rows x 6 columns]

In [ ]:
NPM1['จังหวัด'] = "นครพนม"
NPM01 = NPM1.drop(['ที่'],axis=1)
NPM01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM001 = NPM01.stack().reset_index()
NPM001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
NPM001['เดือน'] = NPM001['เดือน/ปี'].dt.month
NPM001['ปี'] = NPM001['เดือน/ปี'].dt.year
newNPM1 = NPM001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newNPM1

     จังหวัด                     สถานี  วันที่  เดือน    ปี    ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย       1     10  2011    1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย       2     10  2011   1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย       3     10  2011   1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย       4     10  2011   1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย       5     10  2011   1010.51
...      ...                       ...     ...    ...   ...       ...
1755  นครพนม  352201-หนองคาย จ.หนองคาย      28      2  2022   1013.53
1756  นครพนม  352201-หนองคาย จ.หนองคาย      29      2  2022   1013.37
1757  นครพนม  352201-หนองคาย จ.หนองคาย      30      2  2022   1013.98
1758  นครพนม  352201-หนองคาย จ.หนองคาย      31      2  2022         -
1759  นครพนม  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1013.526

[1760 rows x 6 columns]

In [ ]:
LEI1['จังหวัด'] = "เลย"
LEI01 = LEI1.drop(['ที่'],axis=1)
LEI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI001 = LEI01.stack().reset_index()
LEI001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
LEI001['เดือน'] = LEI001['เดือน/ปี'].dt.month
LEI001['ปี'] = LEI001['เดือน/ปี'].dt.year
newLEI1 = LEI001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newLEI1

     จังหวัด                     สถานี  วันที่  เดือน    ปี       ความกด
0        เลย  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.12
1        เลย  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.51
2        เลย  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.81
3        เลย  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.15
4        เลย  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.21
...      ...                       ...     ...    ...   ...          ...
1755     เลย  352201-หนองคาย จ.หนองคาย      28      2  2022      1012.88
1756     เลย  352201-หนองคาย จ.หนองคาย      29      2  2022            -
1757     เลย  352201-หนองคาย จ.หนองคาย      30      2  2022            -
1758     เลย  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759     เลย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.366071

[1760 rows x 6 columns]

In [ ]:
SNK1['จังหวัด'] = "สกลนคร"
SNK01 = SNK1.drop(['ที่'],axis=1)
SNK01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK001 = SNK01.stack().reset_index()
SNK001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
SNK001['เดือน'] = SNK001['เดือน/ปี'].dt.month
SNK001['ปี'] = SNK001['เดือน/ปี'].dt.year
newSNK1 = SNK001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newSNK1

     จังหวัด                     สถานี  วันที่  เดือน    ปี       ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย       2     10  2011      1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย       5     10  2011      1010.55
...      ...                       ...     ...    ...   ...          ...
1755  สกลนคร  352201-หนองคาย จ.หนองคาย      28      2  2022      1012.89
1756  สกลนคร  352201-หนองคาย จ.หนองคาย      29      2  2022      1013.37
1757  สกลนคร  352201-หนองคาย จ.หนองคาย      30      2  2022      1013.98
1758  สกลนคร  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  สกลนคร  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.840333

[1760 rows x 6 columns]

In [ ]:
NKI1['จังหวัด'] = "หนองคาย"
NKI01 = NKI1.drop(['ที่'],axis=1)
NKI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI001 = NKI01.stack().reset_index()
NKI001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
NKI001['เดือน'] = NKI001['เดือน/ปี'].dt.month
NKI001['ปี'] = NKI001['เดือน/ปี'].dt.year
newNKI1 = NKI001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newNKI1

      จังหวัด                     สถานี  วันที่  เดือน    ปี       ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011      1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011      1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011      1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011      1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011      1009.69
...       ...                       ...     ...    ...   ...          ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022      1013.06
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022            -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022            -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022            -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022  1012.519286

[1760 rows x 6 columns]

##ความชื้นสัมพัทธ์

In [ ]:
KKN2['จังหวัด'] = "ขอนแก่น"
KKN02 = KKN2.drop(['ที่'],axis=1)
KKN02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN002 = KKN02.stack().reset_index()
KKN002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
KKN002['เดือน'] = KKN002['เดือน/ปี'].dt.month
KKN002['ปี'] = KKN002['เดือน/ปี'].dt.year
newKKN2 = KKN002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newKKN2

      จังหวัด                     สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011               86
...       ...                       ...     ...    ...   ...              ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022               62
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022                -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022                -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022                -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022               69

[1760 rows x 6 columns]

In [ ]:
NPM2['จังหวัด'] = "นครพนม"
NPM02 = NPM2.drop(['ที่'],axis=1)
NPM02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM002 = NPM02.stack().reset_index()
NPM002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NPM002['เดือน'] = NPM002['เดือน/ปี'].dt.month
NPM002['ปี'] = NPM002['เดือน/ปี'].dt.year
newNPM2 = NPM002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNPM2

     จังหวัด                   สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011               95
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011               84
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011               74
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011               72
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011               87
...      ...                     ...     ...    ...   ...              ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               60
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022               64

[1760 rows x 6 columns]

In [ ]:
LEI2['จังหวัด'] = "เลย"
LEI02 = LEI2.drop(['ที่'],axis=1)
LEI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI002 = LEI02.stack().reset_index()
LEI002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
LEI002['เดือน'] = LEI002['เดือน/ปี'].dt.month
LEI002['ปี'] = LEI002['เดือน/ปี'].dt.year
newLEI2 = LEI002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newLEI2

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011               90
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011               95
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011               92
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011               89
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011               86
...      ...                    ...     ...    ...   ...              ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022               72
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022                -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022                -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022                -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022               80

[1760 rows x 6 columns]

In [ ]:
SNK2['จังหวัด'] = "สกลนคร"
SNK02 = SNK2.drop(['ที่'],axis=1)
SNK02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK002 = SNK02.stack().reset_index()
SNK002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
SNK002['เดือน'] = SNK002['เดือน/ปี'].dt.month
SNK002['ปี'] = SNK002['เดือน/ปี'].dt.year
newSNK2 = SNK002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newSNK2

     จังหวัด                   สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011               87
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011               88
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011               77
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011               75
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011               87
...      ...                     ...     ...    ...   ...              ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022               68
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022               73

[1760 rows x 6 columns]

In [ ]:
NKI2['จังหวัด'] = "หนองคาย"
NKI02 = NKI2.drop(['ที่'],axis=1)
NKI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI002 = NKI02.stack().reset_index()
NKI002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NKI002['เดือน'] = NKI002['เดือน/ปี'].dt.month
NKI002['ปี'] = NKI002['เดือน/ปี'].dt.year
newNKI2 = NKI002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNKI2

      จังหวัด                     สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011               89
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011               91
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011               78
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011               75
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011               90
...       ...                       ...     ...    ...   ...              ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022               65
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022                -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022                -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022                -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022               71

[1760 rows x 6 columns]

##ความเร็วลม

In [ ]:
KKN3['จังหวัด'] = "ขอนแก่น"
KKN03 = KKN3.drop(['ที่'],axis=1)
KKN03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN003 = KKN03.stack().reset_index()
KKN003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
KKN003['เดือน'] = KKN003['เดือน/ปี'].dt.month
KKN003['ปี'] = KKN003['เดือน/ปี'].dt.year
newKKN3 = KKN003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newKKN3

      จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011          2
...       ...                    ...     ...    ...   ...        ...
1755  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  ขอนแก่น  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.571429

[1760 rows x 6 columns]

In [ ]:
NPM3['จังหวัด'] = "นครพนม"
NPM03 = NPM3.drop(['ที่'],axis=1)
NPM03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM003 = NPM03.stack().reset_index()
NPM003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
NPM003['เดือน'] = NPM003['เดือน/ปี'].dt.month
NPM003['ปี'] = NPM003['เดือน/ปี'].dt.year
newNPM3 = NPM003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newNPM3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1755  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022          1
1756  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  นครพนม  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.142857

[1760 rows x 6 columns]

In [ ]:
LEI3['จังหวัด'] = "เลย"
LEI03 = LEI3.drop(['ที่'],axis=1)
LEI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI003 = LEI03.stack().reset_index()
LEI003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
LEI003['เดือน'] = LEI003['เดือน/ปี'].dt.month
LEI003['ปี'] = LEI003['เดือน/ปี'].dt.year
newLEI3 = LEI003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newLEI3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011          2
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011          2
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011          3
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011          3
...      ...                    ...     ...    ...   ...        ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022          1
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   1.678571

[1760 rows x 6 columns]

In [ ]:
SNK3['จังหวัด'] = "สกลนคร"
SNK03 = SNK3.drop(['ที่'],axis=1)
SNK03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK003 = SNK03.stack().reset_index()
SNK003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
SNK003['เดือน'] = SNK003['เดือน/ปี'].dt.month
SNK003['ปี'] = SNK003['เดือน/ปี'].dt.year
newSNK3 = SNK003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newSNK3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1755  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  สกลนคร  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   3.035714

[1760 rows x 6 columns]

In [ ]:
NKI3['จังหวัด'] = "หนองคาย"
NKI03 = NKI3.drop(['ที่'],axis=1)
NKI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI003 = NKI03.stack().reset_index()
NKI003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
NKI003['เดือน'] = NKI003['เดือน/ปี'].dt.month
NKI003['ปี'] = NKI003['เดือน/ปี'].dt.year
newNKI3 = NKI003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newNKI3

      จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011          4
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011          4
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011          1
...       ...                    ...     ...    ...   ...        ...
1755  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022          2
1756  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1757  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1758  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022          -
1759  หนองคาย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022   2.392857

[1760 rows x 6 columns]

##จำนวนเมฆ

In [ ]:
KKN4['จังหวัด'] = "ขอนแก่น"
KKN04 = KKN4.drop(['ที่'],axis=1)
KKN04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN004 = KKN04.stack().reset_index()
KKN004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
KKN004['เดือน'] = KKN004['เดือน/ปี'].dt.month
KKN004['ปี'] = KKN004['เดือน/ปี'].dt.year
newKKN4 = KKN004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newKKN4

      จังหวัด                  สถานี  วันที่  เดือน    ปี  จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011         9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011        10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011        10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011         8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011        10
...       ...                    ...     ...    ...   ...       ...
1755  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022         2
1756  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  ขอนแก่น  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  2.571429

[1760 rows x 6 columns]

In [ ]:
NPM4['จังหวัด'] = "นครพนม"
NPM04 = NPM4.drop(['ที่'],axis=1)
NPM04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM004 = NPM04.stack().reset_index()
NPM004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
NPM004['เดือน'] = NPM004['เดือน/ปี'].dt.month
NPM004['ปี'] = NPM004['เดือน/ปี'].dt.year
newNPM4 = NPM004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newNPM4

     จังหวัด                  สถานี  วันที่  เดือน    ปี  จำนวนเมฆ
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011        10
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011         7
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011         8
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011         8
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011        10
...      ...                    ...     ...    ...   ...       ...
1755  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022         0
1756  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  นครพนม  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.518519

[1760 rows x 6 columns]

In [ ]:
LEI4['จังหวัด'] = "เลย"
LEI04 = LEI4.drop(['ที่'],axis=1)
LEI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI004 = LEI04.stack().reset_index()
LEI004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
LEI004['เดือน'] = LEI004['เดือน/ปี'].dt.month
LEI004['ปี'] = LEI004['เดือน/ปี'].dt.year
newLEI4 = LEI004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newLEI4

     จังหวัด                  สถานี  วันที่  เดือน    ปี  จำนวนเมฆ
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011         8
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011        10
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011        10
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011         9
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011         8
...      ...                    ...     ...    ...   ...       ...
1755     เลย  353301-เลย สกษ. จ.เลย      28      2  2022         2
1756     เลย  353301-เลย สกษ. จ.เลย      29      2  2022         -
1757     เลย  353301-เลย สกษ. จ.เลย      30      2  2022         -
1758     เลย  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.925926

[1760 rows x 6 columns]

In [ ]:
SNK4['จังหวัด'] = "สกลนคร"
SNK04 = SNK4.drop(['ที่'],axis=1)
SNK04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK004 = SNK04.stack().reset_index()
SNK004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
SNK004['เดือน'] = SNK004['เดือน/ปี'].dt.month
SNK004['ปี'] = SNK004['เดือน/ปี'].dt.year
newSNK4 = SNK004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newSNK4

     จังหวัด                  สถานี  วันที่  เดือน    ปี  จำนวนเมฆ
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011         9
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011         9
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011         7
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011         7
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011         9
...      ...                    ...     ...    ...   ...       ...
1755  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022         0
1756  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022         1
1757  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022         1
1758  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022         -
1759  สกลนคร  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.678571

[1760 rows x 6 columns]

In [ ]:
NKI4['จังหวัด'] = "หนองคาย"
NKI04 = NKI4.drop(['ที่'],axis=1)
NKI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI004 = NKI04.stack().reset_index()
NKI004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
NKI004['เดือน'] = NKI004['เดือน/ปี'].dt.month
NKI004['ปี'] = NKI004['เดือน/ปี'].dt.year
newNKI4 = NKI004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newNKI4

      จังหวัด                  สถานี  วันที่  เดือน    ปี  จำนวนเมฆ
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011        10
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011        10
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011         8
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011         9
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011         9
...       ...                    ...     ...    ...   ...       ...
1752  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022         2
1753  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022         1
1754  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022         1
1755  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022         -
1756  หนองคาย  353301-เลย สกษ. จ.เลย  เฉลี่ย      2  2022  4.566667

[1757 rows x 6 columns]

##ปริมาณฝน

In [ ]:
KKN5['จังหวัด'] = "ขอนแก่น"
KKN05 = KKN5.drop(['ที่'],axis=1)
KKN05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN005 = KKN05.stack().reset_index()
KKN005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
KKN005['เดือน'] = KKN005['เดือน/ปี'].dt.month
KKN005['ปี'] = KKN005['เดือน/ปี'].dt.year
newKKN5 = KKN005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newKKN5

      จังหวัด                     สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011      2.2
...       ...                       ...     ...    ...   ...      ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022        -
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022        -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022        -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022        -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022     45.2

[1760 rows x 6 columns]

In [ ]:
NPM5['จังหวัด'] = "นครพนม"
NPM05 = NPM5.drop(['ที่'],axis=1)
NPM05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM005 = NPM05.stack().reset_index()
NPM005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
NPM005['เดือน'] = NPM005['เดือน/ปี'].dt.month
NPM005['ปี'] = NPM005['เดือน/ปี'].dt.year
newNPM5 = NPM005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newNPM5

     จังหวัด                   สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011       17
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011      0.3
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011        0
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011      0.3
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011      1.9
...      ...                     ...     ...    ...   ...      ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022        0
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022        -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022        -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022        -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022     21.7

[1760 rows x 6 columns]

In [ ]:
LEI5['จังหวัด'] = "เลย"
LEI05 = LEI5.drop(['ที่'],axis=1)
LEI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI005 = LEI05.stack().reset_index()
LEI005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
LEI005['เดือน'] = LEI005['เดือน/ปี'].dt.month
LEI005['ปี'] = LEI005['เดือน/ปี'].dt.year
newLEI5 = LEI005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newLEI5

     จังหวัด             สถานี  วันที่  เดือน    ปี ปริมาณฝน
0        เลย  353201-เลย จ.เลย       1     10  2011     21.6
1        เลย  353201-เลย จ.เลย       2     10  2011    111.4
2        เลย  353201-เลย จ.เลย       3     10  2011      0.4
3        เลย  353201-เลย จ.เลย       4     10  2011        0
4        เลย  353201-เลย จ.เลย       5     10  2011        0
...      ...               ...     ...    ...   ...      ...
1753     เลย  353201-เลย จ.เลย      28      2  2022        0
1754     เลย  353201-เลย จ.เลย      29      2  2022        -
1755     เลย  353201-เลย จ.เลย      30      2  2022        -
1756     เลย  353201-เลย จ.เลย      31      2  2022        -
1757     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2022     74.1

[1758 rows x 6 columns]

In [ ]:
SNK5['จังหวัด'] = "สกลนคร"
SNK05 = SNK5.drop(['ที่'],axis=1)
SNK05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK005 = SNK05.stack().reset_index()
SNK005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
SNK005['เดือน'] = SNK005['เดือน/ปี'].dt.month
SNK005['ปี'] = SNK005['เดือน/ปี'].dt.year
newSNK5 = SNK005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newSNK5

     จังหวัด                   สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011     84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011     28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011        0
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011        T
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011      5.5
...      ...                     ...     ...    ...   ...      ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022        -
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022        -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022        -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022        -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022     38.8

[1760 rows x 6 columns]

In [ ]:
NKI5['จังหวัด'] = "หนองคาย"
NKI05 = NKI5.drop(['ที่'],axis=1)
NKI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI005 = NKI05.stack().reset_index()
NKI005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
NKI005['เดือน'] = NKI005['เดือน/ปี'].dt.month
NKI005['ปี'] = NKI005['เดือน/ปี'].dt.year
newNKI5 = NKI005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newNKI5

      จังหวัด                     สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011     48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011       59
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011        0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011        1
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011     19.1
...       ...                       ...     ...    ...   ...      ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022        0
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022        -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022        -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022        -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022    148.4

[1760 rows x 6 columns]

##อุณหภูมิจุดน้ำค้าง

In [ ]:
KKN6['จังหวัด'] = "ขอนแก่น"
KKN06 = KKN6.drop(['ที่'],axis=1)
KKN06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN006 = KKN06.stack().reset_index()
KKN006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
KKN006['เดือน'] = KKN006['เดือน/ปี'].dt.month
KKN006['ปี'] = KKN006['เดือน/ปี'].dt.year
newKKN6 = KKN006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newKKN6

,จังหวัด,สถานี,วันที่,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,10,2011,24.2
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,10,2011,24.0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,3,10,2011,22.9
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,4,10,2011,21.9
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,5,10,2011,21.7
...,...,...,...,...,...,...
1755,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,28,2,2022,17.5
1756,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,29,2,2022,-
1757,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,30,2,2022,-
1758,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,31,2,2022,-
1759,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,เฉลี่ย,2,2022,17.978571

In [ ]:
NPM6['จังหวัด'] = "นครพนม"
NPM06 = NPM6.drop(['ที่'],axis=1)
NPM06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM006 = NPM06.stack().reset_index()
NPM006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NPM006['เดือน'] = NPM006['เดือน/ปี'].dt.month
NPM006['ปี'] = NPM006['เดือน/ปี'].dt.year
newNPM6 = NPM006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNPM6

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011               25.1
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011               23.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011               20.1
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011               18.9
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011               20.7
...      ...                     ...     ...    ...   ...                ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               14.9
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                  -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                  -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                  -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022             15.575

[1760 rows x 6 columns]

In [ ]:
LEI6['จังหวัด'] = "เลย"
LEI06 = LEI6.drop(['ที่'],axis=1)
LEI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI006 = LEI06.stack().reset_index()
LEI006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
LEI006['เดือน'] = LEI006['เดือน/ปี'].dt.month
LEI006['ปี'] = LEI006['เดือน/ปี'].dt.year
newLEI6 = LEI006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newLEI6

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0        เลย  356201-สกลนคร จ.สกลนคร       1     10  2011               24.5
1        เลย  356201-สกลนคร จ.สกลนคร       2     10  2011               23.6
2        เลย  356201-สกลนคร จ.สกลนคร       3     10  2011               21.1
3        เลย  356201-สกลนคร จ.สกลนคร       4     10  2011               20.0
4        เลย  356201-สกลนคร จ.สกลนคร       5     10  2011               21.2
...      ...                     ...     ...    ...   ...                ...
1755     เลย  356201-สกลนคร จ.สกลนคร      28      2  2022               17.3
1756     เลย  356201-สกลนคร จ.สกลนคร      29      2  2022                  -
1757     เลย  356201-สกลนคร จ.สกลนคร      30      2  2022                  -
1758     เลย  356201-สกลนคร จ.สกลนคร      31      2  2022                  -
1759     เลย  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022          17.428571

[1760 rows x 6 columns]

In [ ]:
SNK6['จังหวัด'] = "สกลนคร"
SNK06 = SNK6.drop(['ที่'],axis=1)
SNK06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK006 = SNK06.stack().reset_index()
SNK006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
SNK006['เดือน'] = SNK006['เดือน/ปี'].dt.month
SNK006['ปี'] = SNK006['เดือน/ปี'].dt.year
newSNK6 = SNK006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newSNK6

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011               24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011               23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011               21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011               20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011               21.2
...      ...                     ...     ...    ...   ...                ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022               17.3
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                  -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                  -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                  -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022          17.428571

[1760 rows x 6 columns]

In [ ]:
NKI6['จังหวัด'] = "หนองคาย"
NKI06 = NKI6.drop(['ที่'],axis=1)
NKI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI006 = NKI06.stack().reset_index()
NKI006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NKI006['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI006['ปี'] = NKI006['เดือน/ปี'].dt.year
newNKI6 = NKI006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNKI6

,จังหวัด,สถานี,วันที่,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,หนองคาย,352201-หนองคาย จ.หนองคาย,1,10,2011,24.6
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2,10,2011,23.8
2,หนองคาย,352201-หนองคาย จ.หนองคาย,3,10,2011,22.4
3,หนองคาย,352201-หนองคาย จ.หนองคาย,4,10,2011,21.9
4,หนองคาย,352201-หนองคาย จ.หนองคาย,5,10,2011,23.3
...,...,...,...,...,...,...
1755,หนองคาย,352201-หนองคาย จ.หนองคาย,28,2,2022,17.8
1756,หนองคาย,352201-หนองคาย จ.หนองคาย,29,2,2022,16.6
1757,หนองคาย,352201-หนองคาย จ.หนองคาย,30,2,2022,14.9
1758,หนองคาย,352201-หนองคาย จ.หนองคาย,31,2,2022,-
1759,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,17.676667

##อุณหภูมิต่ำสุด

In [ ]:
KKN7['จังหวัด'] = "ขอนแก่น"
KKN07 = KKN7.drop(['ที่'],axis=1)
KKN07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN007 = KKN07.stack().reset_index()
KKN007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
KKN007['เดือน'] = KKN007['เดือน/ปี'].dt.month
KKN007['ปี'] = KKN007['เดือน/ปี'].dt.year
newKKN7 = KKN007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newKKN7

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011           27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011           25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011           25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011           25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011           24.3
...       ...                       ...     ...    ...   ...            ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022           25.9
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022              -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022              -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022              -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022           24.6

[1760 rows x 6 columns]

In [ ]:
NPM7['จังหวัด'] = "นครพนม"
NPM07 = NPM7.drop(['ที่'],axis=1)
NPM07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM007 = NPM07.stack().reset_index()
NPM007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NPM007['เดือน'] = NPM007['เดือน/ปี'].dt.month
NPM007['ปี'] = NPM007['เดือน/ปี'].dt.year
newNPM7 = NPM007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNPM7

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011           25.9
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011           26.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011           25.3
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011           24.7
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011           23.1
...      ...                     ...     ...    ...   ...            ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022           24.0
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022              -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022              -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022              -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022           23.2

[1760 rows x 6 columns]

In [ ]:
LEI7['จังหวัด'] = "เลย"
LEI07 = LEI7.drop(['ที่'],axis=1)
LEI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI007 = LEI07.stack().reset_index()
LEI007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
LEI007['เดือน'] = LEI007['เดือน/ปี'].dt.month
LEI007['ปี'] = LEI007['เดือน/ปี'].dt.year
newLEI7 = LEI007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newLEI7

     จังหวัด             สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0        เลย  353201-เลย จ.เลย       1     10  2011           26.3
1        เลย  353201-เลย จ.เลย       2     10  2011           25.1
2        เลย  353201-เลย จ.เลย       3     10  2011           24.4
3        เลย  353201-เลย จ.เลย       4     10  2011           25.2
4        เลย  353201-เลย จ.เลย       5     10  2011           25.6
...      ...               ...     ...    ...   ...            ...
1595     เลย  353201-เลย จ.เลย      28      2  2021           25.6
1596     เลย  353201-เลย จ.เลย      29      2  2021              -
1597     เลย  353201-เลย จ.เลย      30      2  2021              -
1598     เลย  353201-เลย จ.เลย      31      2  2021              -
1599     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2021           24.1

[1600 rows x 6 columns]

In [ ]:
SNK7['จังหวัด'] = "สกลนคร"
SNK07 = SNK7.drop(['ที่'],axis=1)
SNK07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK007 = SNK07.stack().reset_index()
SNK007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
SNK007['เดือน'] = SNK007['เดือน/ปี'].dt.month
SNK007['ปี'] = SNK007['เดือน/ปี'].dt.year
newSNK7 = SNK007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newSNK7

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011           26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011           25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011           25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011           25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011           23.6
...      ...                     ...     ...    ...   ...            ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022           24.4
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022              -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022              -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022              -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022           22.8

[1760 rows x 6 columns]

In [ ]:
NKI7['จังหวัด'] = "หนองคาย"
NKI07 = NKI7.drop(['ที่'],axis=1)
NKI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI007 = NKI07.stack().reset_index()
NKI007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NKI007['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI007['ปี'] = NKI007['เดือน/ปี'].dt.year
newNKI7 = NKI007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNKI7

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011           26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011           25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011           27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011           26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011           24.9
...       ...                       ...     ...    ...   ...            ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022           25.4
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022              -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022              -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022              -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022           23.7

[1760 rows x 6 columns]

##อุณหภูมิตุ้มแห้ง

In [ ]:
KKN8['จังหวัด'] = "ขอนแก่น"
KKN08 = KKN8.drop(['ที่'],axis=1)
KKN08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN008 = KKN08.stack().reset_index()
KKN008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
KKN008['เดือน'] = KKN008['เดือน/ปี'].dt.month
KKN008['ปี'] = KKN008['เดือน/ปี'].dt.year
newKKN8 = KKN008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newKKN8

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011             24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011             23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011             22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011             22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011             23.1
...       ...                       ...     ...    ...   ...              ...
1755  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022                -
1756  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022                -
1757  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022                -
1758  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022                -
1759  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  เฉลี่ย      2  2022             20.2

[1760 rows x 6 columns]

In [ ]:
NPM8['จังหวัด'] = "นครพนม"
NPM08 = NPM8.drop(['ที่'],axis=1)
NPM08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM008 = NPM08.stack().reset_index()
NPM008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NPM008['เดือน'] = NPM008['เดือน/ปี'].dt.month
NPM008['ปี'] = NPM008['เดือน/ปี'].dt.year
newNPM8 = NPM008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNPM8

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011             25.0
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011             23.4
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011             22.2
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011             20.6
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011             21.1
...      ...                     ...     ...    ...   ...              ...
1755  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               16
1756  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                -
1757  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                -
1758  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                -
1759  นครพนม  357201-นครพนม จ.นครพนม  เฉลี่ย      2  2022             18.3

[1760 rows x 6 columns]

In [ ]:
LEI8['จังหวัด'] = "เลย"
LEI08 = LEI8.drop(['ที่'],axis=1)
LEI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI008 = LEI08.stack().reset_index()
LEI008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
LEI008['เดือน'] = LEI008['เดือน/ปี'].dt.month
LEI008['ปี'] = LEI008['เดือน/ปี'].dt.year
newLEI8 = LEI008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newLEI8

     จังหวัด             สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0        เลย  353201-เลย จ.เลย       1     10  2011             23.5
1        เลย  353201-เลย จ.เลย       2     10  2011             24.3
2        เลย  353201-เลย จ.เลย       3     10  2011             22.5
3        เลย  353201-เลย จ.เลย       4     10  2011             23.0
4        เลย  353201-เลย จ.เลย       5     10  2011             22.7
...      ...               ...     ...    ...   ...              ...
1755     เลย  353201-เลย จ.เลย      28      2  2022             17.6
1756     เลย  353201-เลย จ.เลย      29      2  2022                -
1757     เลย  353201-เลย จ.เลย      30      2  2022                -
1758     เลย  353201-เลย จ.เลย      31      2  2022                -
1759     เลย  353201-เลย จ.เลย  เฉลี่ย      2  2022             18.3

[1760 rows x 6 columns]

In [ ]:
SNK8['จังหวัด'] = "สกลนคร"
SNK08 = SNK8.drop(['ที่'],axis=1)
SNK08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK008 = SNK08.stack().reset_index()
SNK008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
SNK008['เดือน'] = SNK008['เดือน/ปี'].dt.month
SNK008['ปี'] = SNK008['เดือน/ปี'].dt.year
newSNK8 = SNK008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newSNK8

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011             24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011             23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011             22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011             21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011             22.5
...      ...                     ...     ...    ...   ...              ...
1755  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022                -
1756  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                -
1757  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                -
1758  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                -
1759  สกลนคร  356201-สกลนคร จ.สกลนคร  เฉลี่ย      2  2022             17.0

[1760 rows x 6 columns]

In [ ]:
NKI8['จังหวัด'] = "หนองคาย"
NKI08 = NKI8.drop(['ที่'],axis=1)
NKI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI008 = NKI08.stack().reset_index()
NKI008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NKI008['เดือน'] = NKI008['เดือน/ปี'].dt.month
NKI008['ปี'] = NKI008['เดือน/ปี'].dt.year
newNKI8 = NKI008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNKI8

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011             25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011             23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011             23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011             23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011             23.3
...       ...                       ...     ...    ...   ...              ...
1755  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022               19
1756  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022                -
1757  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022                -
1758  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022                -
1759  หนองคาย  352201-หนองคาย จ.หนองคาย  เฉลี่ย      2  2022             19.0

[1760 rows x 6 columns]

#ต่อตารางรวมหัวข้อของแต่ละจังหวัด

In [ ]:
Table1 = pd.concat([newKKN1,newNPM1,newLEI1,newSNK1,newNKI1])
Table2 = pd.concat([newKKN2,newNPM2,newLEI2,newSNK2,newNKI2])
Table3 = pd.concat([newKKN3,newNPM3,newLEI3,newSNK3,newNKI3])
Table4 = pd.concat([newKKN4,newNPM4,newLEI4,newSNK4,newNKI4])
Table5 = pd.concat([newKKN5,newNPM5,newLEI5,newSNK5,newNKI5])
Table6 = pd.concat([newKKN6,newNPM6,newLEI6,newSNK6,newNKI6])
Table7 = pd.concat([newKKN7,newNPM7,newLEI7,newSNK7,newNKI7])
Table8 = pd.concat([newKKN8,newNPM8,newLEI8,newSNK8,newNKI8])

In [ ]:
AA = pd.merge(Table1,Table2)
AA

,จังหวัด,สถานี,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์
0,หนองคาย,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.34,89
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2,10,2011,1006.67,91
2,หนองคาย,352201-หนองคาย จ.หนองคาย,3,10,2011,1007.39,78
3,หนองคาย,352201-หนองคาย จ.หนองคาย,4,10,2011,1008.11,75
4,หนองคาย,352201-หนองคาย จ.หนองคาย,5,10,2011,1009.69,90
...,...,...,...,...,...,...,...
1755,หนองคาย,352201-หนองคาย จ.หนองคาย,28,2,2022,1013.06,65
1756,หนองคาย,352201-หนองคาย จ.หนองคาย,29,2,2022,-,-
1757,หนองคาย,352201-หนองคาย จ.หนองคาย,30,2,2022,-,-
1758,หนองคาย,352201-หนองคาย จ.หนองคาย,31,2,2022,-,-
1759,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,71

In [ ]:
NN = Table1.merge(Table2, left_on='สถานี', right_on='สถานี') 
NN

,จังหวัด_x,สถานี,วันที่_x,เดือน_x,ปี_x,ความกด,จังหวัด_y,วันที่_y,เดือน_y,ปี_y,ความชื้นสัมพัทธ์
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.47,หนองคาย,1,10,2011,89
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.47,หนองคาย,2,10,2011,91
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.47,หนองคาย,3,10,2011,78
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.47,หนองคาย,4,10,2011,75
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,10,2011,1005.47,หนองคาย,5,10,2011,90
...,...,...,...,...,...,...,...,...,...,...,...
15487995,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,หนองคาย,28,2,2022,65
15487996,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,หนองคาย,29,2,2022,-
15487997,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,หนองคาย,30,2,2022,-
15487998,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,หนองคาย,31,2,2022,-
15487999,หนองคาย,352201-หนองคาย จ.หนองคาย,เฉลี่ย,2,2022,1012.519286,หนองคาย,เฉลี่ย,2,2022,71

In [ ]:
TableKKN = pd.concat([newKKN1,newKKN2,newKKN3,newKKN4,newKKN5,newKKN6,newKKN7,newKKN8])
TableNPM = pd.concat([newNPM1,newNPM2,newNPM3,newNPM4,newNPM5,newNPM6,newNPM7,newNPM8])
TableLEI = pd.concat([newLEI1,newLEI2,newLEI3,newLEI4,newLEI5,newLEI6,newLEI7,newLEI8])
TableSNK = pd.concat([newSNK1,newSNK2,newSNK3,newSNK4,newSNK5,newSNK6,newSNK7,newSNK8])
TableNKI = pd.concat([newNKI1,newNKI2,newNKI3,newNKI4,newNKI5,newNKI6,newNKI7,newNKI8])